body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97dvh;
  background-color: #141414;
  color: #fff;
}
.cross {
  z-index: -1;
  background-color: #fff;
}
.left {
  position: absolute;
  width: 50%;
  left: 0;
  height: 0.2rem;
}
.right {
  position: absolute;
  width: 50%;
  right: 0;
  height: 0.2rem;
}
.top {
  position: absolute;
  width: 0.2rem;
  height: 50%;
  top: 0;
}
.bottom {
  position: absolute;
  width: 0.2rem;
  height: 50%;
  bottom: 0;
}
.two {
  position: absolute;
  background-color: #141414;
  width: 100%;
  height: 0.2rem;
}

.levels {
  position: absolute;
  left: 12rem;
  top: 6rem;
  font-size: 20px;
}
.levels p {
  height: 15px;
}
.points {
  position: absolute;
  left: 12rem;
  top: 25rem;
  height: 2rem;
  font-size: 18px;
}
button {
  margin-bottom: 3.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #44a3d5;
  color: #44a3d5;
  cursor: pointer;
}
